<style>
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 850px;
    flex-direction: column;
    align-items: center;
  }
</style>


<div class="content" role="main">
 <div class="container">
   <form class="jumbotron">
       <h3 class="display-4">Add a Link</h3>
       <div class="form-group">
         <label for="title">Title:</label>
         <input name="title" #newtitle class="form-control">
       </div>
       <div class="form-group">
         <label for="link">Link:</label>
         <input name="link" #newlink class="form-control">
       </div>
       <br>
     <button (click)="addArticle(newtitle, newlink)" class="btn btn-primary">
       Submit link
     </button>
   </form><br><br>
   <div class="container">
     <!-- start adding here -->
     <app-article *ngFor="let art of sortedArticles()" [article]="art"></app-article>
    <!-- end adding here -->
   </div>
 </div>
</div>
